/node_modules
/public/hot
/public/css/bootstrap.css
/public/css/fontawesome.css
/public/css/main.css
/public/js/datatables.js
/public/js/main.js
/public/js/plugins.js
/public/js/vue.js
/public/storage
/resources/*/*.min.*
/resources/js/axios.js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
